<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create New Figure</title>
 </head>
  <body>

  <form action="/figures" method="post">
      Enter new figure name:
      <br><input type="text" id="figure_name" name="figure[name]" size="75"></input><br><br>

      Titles:
      <ul style="list-style: none;"><% Title.all.each do |title| %>
        <li><input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input></li>
      <% end %></ul>

      or enter new title here:
      <br><input type="text" id="title_name" name="title[name]" size="75"></input>
      <br></br>

      Landmarks:
      <ul style="list-style: none;"><% Landmark.all.each do |landmark| %>
        <li><input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %></input></li>
      <% end %></ul>

      or enter new landmark here:
      <br><input type="text" id="landmark_name" name="landmark[name]" size="75"></input><br><br>

      <input type="submit" value="Create New Figure">
    </form>

  </body>
</html>
